                        table {
                            overflow-x: hidden;
                            position: absolute;
                            left: 50%;
                            transform: translate(-50%, 0);
                            border-spacing: 0 2px;
                            /*  min-width: -webkit-calc(70%);
                        min-width: -moz-calc(70%);
                        min-width: calc(70%);
                        margin-left: auto;
                        margin-right: auto;*/
                        }
                        
                        th {
                            border-style: solid;
                            border-width: 1px;
                            border-color: #ccc;
                            border-radius: 6px;
                            font-family: Helvetica, sans-serif;
                            font: 14px monospace;
                            padding: 3px 10px;
                            min-width: 160px;
                        }
                        
                        tr {
                            border-radius: 6px;
                        }
                        
                        .tablewrap {
                            position: relative;
                            left: 10px;
                            margin-right: 10px;
                            width: 100%;
                        }
                        
                        table thead {
                            border-style: solid;
                            border-width: 1px;
                            border-color: #666;
                        }
                        
                        thead {
                            background-color: #d5d6c8;
                        }
                        
                        tbody {
                            background-color: #fff;
                        }
                        
                        .index_3 {
                            padding: 4px 10px;
                            width: 250px;
                        }
                        
                        .index_3:hover {
                            color=#800;
                            cursor: pointer;
                        }
                        
                        .index_2 {
                            display: flex;
                            align-items: center;
                            padding: 10px 20px;
                        }
                        
                        .index_0 {
                            display: flex;
                            position: absolute;
                            background: inherit;
                        }
                        
                        .index_1 {
                            display: block;
                        }
                        
                        .index_4 {
                            display: flex;
                            align-items: center;
                            padding: 3px 10px;
                            width: 50%;
                            height: 30px;
                            /* position: absolute;*/
                            left: 50%;
                            transform: translate(50%, 0);
                            /*  grid-column: 2 / 5;
                            */
                        }
                        
                        .index_6 {
                            color: #ddd;
                        }
                        /*
                    .ind_7 {
                        background: #fdfdfd;
                        border: 1px solid #ddd;
                        height: 100%;
                        border-radius: 5px;
                        margin: 1px 1px;
                        padding: 5px 5px;
                    }*/
                        /*
.shadow-box {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.shadow-box__title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 22px;
    line-height: 26px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    font-weight: 700;
}
.form_register {
    padding-top: 15px;
    box-sizing: border-box;
}
form {
    display: block;
    margin-top: 0em;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.form__fields {
    border: 0;
    padding: 0;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
body {
    height: 100%;
    background: #f4f4f4;
    font-size: 14px;
    font-weight: normal;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    -webkit-overflow-scrolling: touch;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

.form__field-label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 16px;
    color: #333;
    font-size: 14px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 12px;
    display: inline-block;
    width: 100%;
    vertical-align: baseline;
}
.form__field+.form__field {
    margin-top: 15px;
}

.allover {
    margin-top: 20px;
    max-width: 460px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #e3f2fd;
}
.button_wide {
    width: 100%;
    padding: 0;
    height: 48px;
}
.button_primary {
    background-color: #558cb7;
    color: #fff;
}
.button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 3px;
    border: 0;
    box-shadow: none;
    height: 40px;
    line-height: 15px;
    color: #333;
    font-size: 15px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
}
.form__field-input {
    width: 100%;
    height: 40px;
    background: #FFF;
    border: 1px solid #DBDBDB;
    padding: 0 14px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    color: #333;
    border-radius: 6px;
}
.form__buttons {
    margin-top: 28px;
}
*/