
<div class="allover">
    <div class="shadow-box">
      <div class="shadow-box__title">Войти</div>

      <form class="form form_register s-form validateble" method = "post" action = "{% url 'login' %}">
        {% csrf_token %}
        
        <fieldset class="form__fields">

          <div class="form__field s-field">
            <label for="nickname_field" class="form__field-label">Имя</label>
            <input type="text" value="" class="form__field-input" name="username" id="id_username" autocomplete="off" data-required="true" />
          </div>

          <div class="form__field s-field">
            <label for="password_field" class="form__field-label">Пароль</label>
            <input type="password" value="" class="form__field-input" name="password" id="id_password" autocomplete="off" data-required="true" />
            {% if form.errors %} 
                   <span class="form__error">Имя пользователя и пароль не совпадают. Введите правильные данные.</span>
                {% endif %}

          </div>
          <div class="form__buttons s-buttons">
            <button type="submit" name="go" id="registration_button" class="button button_wide button_primary" >Войти</button>
            <a class="form__forgot-link" href={% url 'password_reset' %}>Забыли пароль?</a>
          </div>
        </fieldset>
      </form>
    </div>
</div>



